production version Conrugis.json
[{"id":"923ac48.920e738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ec8046b.4cc7fc","type":"modbus-client","z":"","name":"test CDsoft","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"57600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":2,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"78054186.37fef","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"da4cf84.7df7308","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"3c15d59.dea982a","type":"ui_group","z":"","name":"Waarden","tab":"da4cf84.7df7308","order":1,"disp":true,"width":9,"collapse":false},{"id":"f7cef6e4.75c888","type":"ui_group","z":"","name":"Meters","tab":"da4cf84.7df7308","order":2,"disp":true,"width":"6","collapse":false},{"id":"52aa99d.dd92868","type":"mqtt-broker","z":"","name":"Munerica","broker":"192.168.250.250","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"265429b1.29e506","type":"ui_group","z":"","name":"Waarden 2","tab":"da4cf84.7df7308","order":3,"disp":true,"width":"6","collapse":false},{"id":"4a9e252e.1466bc","type":"modbus-getter","z":"923ac48.920e738","name":"test 0","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"10","server":"2ec8046b.4cc7fc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":273,"y":342,"wires":[[],["e48002b.53fc1"]]},{"id":"fa341690.7b7408","type":"inject","z":"923ac48.920e738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"90","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["4a9e252e.1466bc","bd64fff4.63964","bbf2e048.38ddf","4b3187fd.aae898","cd9a9b33.24d188"]]},{"id":"e48002b.53fc1","type":"split","z":"923ac48.920e738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":453,"y":349,"wires":[["e1e15b86.ec5868"]]},{"id":"e1e15b86.ec5868","type":"function","z":"923ac48.920e738","name":"route by index","func":"var msg10 = msg.payload.map(function (p) {\nreturn {payload: p};\n});\nif (msg10.length ==10){\nreturn msg10;}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":703,"y":350,"wires":[["8f9a108a.4bc16"],["48d58606.95ae98","9958c48.a25f738"],["461121a6.c0b1c"],["46d2ae41.52b85"],[],[],[],[],[],[]]},{"id":"2d338178.de5b2e","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":1,"width":0,"height":0,"name":"Keteltemperatuur","label":"Keteltemperatuur","format":"{{msg.payload}} °C","layout":"row-left","x":1190,"y":200,"wires":[]},{"id":"48d58606.95ae98","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":3,"width":0,"height":0,"name":"Temperatuur verbrandingsgas","label":"Temperatuur verbrandingsgas","format":"{{msg.payload}} °C","layout":"row-left","x":1050,"y":303,"wires":[]},{"id":"fbc4b881.5d4388","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":4,"width":0,"height":0,"name":"Restzuurstofgehalte","label":"Restzuurstofgehalte","format":"{{msg.payload}} %","layout":"row-left","x":1260,"y":340,"wires":[]},{"id":"e9b971c3.969b6","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":5,"width":0,"height":0,"name":"Regelvariabele ketel","label":"Regelvariabele ketel","format":"{{msg.payload}} %","layout":"row-left","x":1003,"y":506,"wires":[]},{"id":"c1f391a7.5ab03","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":6,"width":0,"height":0,"name":"Bedrijfsuren","label":"Bedrijfsuren","format":"{{msg.payload}} u","layout":"row-left","x":953,"y":626,"wires":[]},{"id":"ff0fa1ae.8b9c1","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":7,"width":0,"height":0,"name":"Uren sinds laatste onderhoud","label":"Uren sinds laatste onderhoud","format":"{{msg.payload}} u","layout":"row-left","x":1020,"y":851,"wires":[]},{"id":"97508d53.c1f3a","type":"ui_text","z":"923ac48.920e738","group":"265429b1.29e506","order":1,"width":0,"height":0,"name":"Buffertemperatuur boven","label":"Buffertemperatuur boven","format":"{{msg.payload}} °C","layout":"row-left","x":1311,"y":916,"wires":[]},{"id":"d5dc437b.30dad","type":"ui_text","z":"923ac48.920e738","group":"265429b1.29e506","order":2,"width":0,"height":0,"name":"Buffertemperatuur midden","label":"Buffertemperatuur midden","format":"{{msg.payload}} °C","layout":"row-left","x":1310,"y":964,"wires":[]},{"id":"3b68d961.b3ca76","type":"modbus-getter","z":"923ac48.920e738","name":"test 10","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"10","quantity":"10","server":"2ec8046b.4cc7fc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":273,"y":506,"wires":[[],["d9d341c7.c8536"]]},{"id":"d9d341c7.c8536","type":"split","z":"923ac48.920e738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":453,"y":513,"wires":[["ffcbb83a.e0d828"]]},{"id":"ffcbb83a.e0d828","type":"function","z":"923ac48.920e738","name":"route by index","func":"var msg10 = msg.payload.map(function (p) {\nreturn {payload: p};\n});\nif (msg10.length ==10){\nreturn msg10;}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":703,"y":514,"wires":[[],[],[],[],["e9b971c3.969b6","d84d19bc.4ed7b8"],[],[],[],[],[]]},{"id":"e329bcea.ea313","type":"modbus-getter","z":"923ac48.920e738","name":"test 20","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"20","quantity":"10","server":"2ec8046b.4cc7fc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":273,"y":666,"wires":[[],["44f1d3c.01ee32c"]]},{"id":"44f1d3c.01ee32c","type":"split","z":"923ac48.920e738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":453,"y":673,"wires":[["983e1aff.195318"]]},{"id":"983e1aff.195318","type":"function","z":"923ac48.920e738","name":"route by index","func":"var msg10 = msg.payload.map(function (p) {\nreturn {payload: p};\n});\nif (msg10.length ==10){\nreturn msg10;}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":703,"y":674,"wires":[["c1f391a7.5ab03","976384ed.5105c8"],[],[],[],[],[],[],[],[],[]]},{"id":"589cf516.a0d6ac","type":"modbus-getter","z":"923ac48.920e738","name":"test 50","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"50","quantity":"10","server":"2ec8046b.4cc7fc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":837,"wires":[[],["5c24edf0.9a8d64"]]},{"id":"5c24edf0.9a8d64","type":"split","z":"923ac48.920e738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":844,"wires":[["df3c8bb7.29e578"]]},{"id":"df3c8bb7.29e578","type":"function","z":"923ac48.920e738","name":"route by index","func":"var msg10 = msg.payload.map(function (p) {\nreturn {payload: p};\n});\nif (msg10.length ==10){\nreturn msg10;}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":700,"y":845,"wires":[[],[],[],[],[],["ff0fa1ae.8b9c1","277279ca.260bf6"],[],[],[],[]]},{"id":"df80a54c.8b1908","type":"modbus-getter","z":"923ac48.920e738","name":"test 302000 ","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"InputRegister","adr":"2000","quantity":"10","server":"2ec8046b.4cc7fc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":270,"y":1002,"wires":[[],["73a6dbd5.fe6854"]]},{"id":"73a6dbd5.fe6854","type":"split","z":"923ac48.920e738","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":1009,"wires":[["25859d14.21e562"]]},{"id":"25859d14.21e562","type":"function","z":"923ac48.920e738","name":"route by index","func":"var msg10 = msg.payload.map(function (p) {\nreturn {payload: p};\n});\nif (msg10.length ==10){\nreturn msg10;}","outputs":10,"noerr":0,"initialize":"","finalize":"","x":700,"y":1010,"wires":[["e3b63434.a5ea68"],["bb6c34dc.57cb48"],["e0a20b71.0fada8"],[],[],[],["873bcd0e.329fd","29cb489b.6b1458"],[],[],[]]},{"id":"e6f55223.b65da","type":"ui_text","z":"923ac48.920e738","group":"265429b1.29e506","order":3,"width":0,"height":0,"name":"Buffertemperatuur onder","label":"Buffertemperatuur onder","format":"{{msg.payload}} °C","layout":"row-left","x":1310,"y":1004,"wires":[]},{"id":"9a38dc9e.7d621","type":"mqtt out","z":"923ac48.920e738","name":"Keteltemperatuur","topic":"Keteltemperatuur","qos":"1","retain":"","broker":"52aa99d.dd92868","x":1390,"y":200,"wires":[]},{"id":"d84d19bc.4ed7b8","type":"mqtt out","z":"923ac48.920e738","name":"Regelvariabele ketel","topic":"RegelvariabeleKetel","qos":"1","retain":"","broker":"52aa99d.dd92868","x":1243,"y":506,"wires":[]},{"id":"9958c48.a25f738","type":"mqtt out","z":"923ac48.920e738","name":"TemperatuurRookGas","topic":"TemperatuurVerbrandingsgas","qos":"1","retain":"","broker":"52aa99d.dd92868","x":1300,"y":300,"wires":[]},{"id":"976384ed.5105c8","type":"mqtt out","z":"923ac48.920e738","name":"Bedrijfsuren","topic":"Bedrijfsuren","qos":"","retain":"","broker":"52aa99d.dd92868","x":1113,"y":626,"wires":[]},{"id":"8f9a108a.4bc16","type":"calculator","z":"923ac48.920e738","name":"keteltemp/2","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2","round":false,"decimals":0,"x":990,"y":200,"wires":[["2d338178.de5b2e","9a38dc9e.7d621"]]},{"id":"461121a6.c0b1c","type":"calculator","z":"923ac48.920e738","name":"Kaarttemperatuur/2","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2","round":false,"decimals":0,"x":1030,"y":400,"wires":[["5ca531c.0e6cbd","33634b53.2e62a4"]]},{"id":"5ca531c.0e6cbd","type":"ui_text","z":"923ac48.920e738","group":"3c15d59.dea982a","order":2,"width":0,"height":0,"name":"Kaarttemperatuur","label":"Kaarttemperatuur","format":"{{msg.payload}} °C","layout":"row-left","x":1261,"y":400,"wires":[]},{"id":"33634b53.2e62a4","type":"mqtt out","z":"923ac48.920e738","name":"Kaarttemperatuur","topic":"Kaarttemperatuur","qos":"1","retain":"","broker":"52aa99d.dd92868","x":1470,"y":400,"wires":[]},{"id":"bd64fff4.63964","type":"delay","z":"923ac48.920e738","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":500,"wires":[["3b68d961.b3ca76"]]},{"id":"bbf2e048.38ddf","type":"delay","z":"923ac48.920e738","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":660,"wires":[["e329bcea.ea313"]]},{"id":"4b3187fd.aae898","type":"delay","z":"923ac48.920e738","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":840,"wires":[["589cf516.a0d6ac"]]},{"id":"cd9a9b33.24d188","type":"delay","z":"923ac48.920e738","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":1000,"wires":[["df80a54c.8b1908"]]},{"id":"46d2ae41.52b85","type":"calculator","z":"923ac48.920e738","name":"/10","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"10","round":false,"decimals":0,"x":1010,"y":340,"wires":[["fbc4b881.5d4388"]]},{"id":"e3b63434.a5ea68","type":"calculator","z":"923ac48.920e738","name":"/2","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2","round":false,"decimals":0,"x":950,"y":920,"wires":[["97508d53.c1f3a","793c369c.9a7448"]]},{"id":"bb6c34dc.57cb48","type":"calculator","z":"923ac48.920e738","name":"/2","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2","round":false,"decimals":0,"x":950,"y":963,"wires":[["d5dc437b.30dad","2a7089de.8a4706"]]},{"id":"e0a20b71.0fada8","type":"calculator","z":"923ac48.920e738","name":"/2","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"2","round":false,"decimals":0,"x":950,"y":1000,"wires":[["e6f55223.b65da","7bb60a28.f27724"]]},{"id":"873bcd0e.329fd","type":"ui_text","z":"923ac48.920e738","group":"265429b1.29e506","order":4,"width":0,"height":0,"name":"laadtoestand buffer","label":"laadtoestand buffer","format":"{{msg.payload}} %","layout":"row-left","x":1293,"y":1060,"wires":[]},{"id":"277279ca.260bf6","type":"mqtt out","z":"923ac48.920e738","name":"sindslaatsteonderhoud","topic":"sindslaatsteonderhoud","qos":"","retain":"","broker":"52aa99d.dd92868","x":1330,"y":849,"wires":[]},{"id":"793c369c.9a7448","type":"mqtt out","z":"923ac48.920e738","name":"BufferBoven","topic":"BufferBoven","qos":"","retain":"","broker":"52aa99d.dd92868","x":1600,"y":914,"wires":[]},{"id":"2a7089de.8a4706","type":"mqtt out","z":"923ac48.920e738","name":"BufferMidden","topic":"BufferMidden","qos":"","retain":"","broker":"52aa99d.dd92868","x":1600,"y":970,"wires":[]},{"id":"7bb60a28.f27724","type":"mqtt out","z":"923ac48.920e738","name":"BufferOnder","topic":"BufferOnder","qos":"","retain":"","broker":"52aa99d.dd92868","x":1603,"y":1017,"wires":[]},{"id":"29cb489b.6b1458","type":"mqtt out","z":"923ac48.920e738","name":"BufferLading","topic":"BufferLading","qos":"","retain":"","broker":"52aa99d.dd92868","x":1607,"y":1084,"wires":[]}]